<div class="container">

    <h1>
        Notice 
        <a ui-sref="noticeCreate" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-plus"></span>
            Add
        </a>
    </h1>

    <div ng-repeat="notice in notices">
        <div class="card card-material no-icon">
            <h3><a ui-sref="noticeDetails({ noticeId:notice.id })">{{ notice.title }}</a></h3>
            <p>{{ notice.details + '..' }}</p>
            <br/>
            <p>
                <span class="glyphicon glyphicon-time"></span> {{ notice.created_at | utcToLocal:'DD MMM, YYYY (hh:mm a)' }}
            </p>
            <p>
                <span class="glyphicon glyphicon-user"></span> {{ notice.postedBy.username }} ({{ notice.postedBy.email }})
            </p>
        </div>
    </div>
    
    
    <div class="text-center">
        <ul class="pagination">
            <li ng-repeat="n in [].constructor(totalPages + 1) track by $index" 
                ng-if="$index != 0" 
                ng-class="{'active': currentPage == $index}" 
                ng-click="loadNotices($index)">
                <a href="">{{ $index }}</a>
            </li>
        </ul>
    </div>
    
</div>