<div class="container text-center alert alert-danger" ng-if="invalidRequest">
    <h4>Sorry..!</h4>
    <p>Invalid Request</p>
</div>

<div class="container text-center alert alert-success" ng-if="successMessage">
    <h3>Hurray..!</h3>
    <p>{{ successMessage }}</p>
</div>

<div class="container text-center alert alert-danger" ng-if="failureMessage">
    <h4>Sorry..!</h4>
    <p>{{ failureMessage }}</p>
</div>

<div class="container" ng-if="!invalidRequest && !successMessage">

    <h1 class="text-center">Reset Password</h1>
    <hr><br/>

    <div class="row">

        <div class="col-sm-offset-4 col-sm-4">

            <form name="passwordResetForm" ng-submit="resetPassword(passwordResetForm.$valid)" novalidate>

                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" ng-model="credential.newPassword" required>
                    <p class="field-error" ng-show="isSubmitionInitiated && passwordResetForm.$invalid && passwordResetForm.newPassword.$error.required">
                        Enter new password
                    </p>
                </div>

                <div class="form-group">
                    <label for="cofirmPassword">Confirm Password:</label>
                    <input type="password" class="form-control" id="cofirmPassword" name="cofirmPassword" placeholder="Confirm Password" ng-model="credential.cofirmPassword" required ng-pattern="credential.newPassword">
                    <p class="field-error" ng-show="isSubmitionInitiated && passwordResetForm.$invalid && passwordResetForm.cofirmPassword.$error">
                        <span ng-show="passwordResetForm.cofirmPassword.$error.required">Please Confirm password</span>
                        <span ng-show="passwordResetForm.cofirmPassword.$error.pattern">Confirm password doesn't match</span>
                    </p>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" ng-click="isSubmitionInitiated = true">
                        <span class="glyphicon glyphicon-lock"></span>
                        Reset
                    </button>
                </div>

            </form>

        </div>

    </div>
</div>